<section id="login">
  <div class="container">
    <div class="welcome">
      <h1>Bienvenidos a <b>Unicomer</b></h1>
    </div>
    <div class="bodyForm">
      <div class="container_login">
        <h1 class="title">LOGO</h1>
        <div class="containerForm">
          <form [formGroup]="formLogin" (ngSubmit)="save($event)">
            <label for="tipDoc">Tipo de documento</label>
            <select formControlName="tipDoc" type="tipDoc">
              <option value="DNI">DNI</option>
              <option value="CUIT">CUIT</option>
              <option value="CUIL">CUIL</option>
            </select>
            <label for="numDoc">Número de documento</label>
            <input
              formControlName="numDoc"
              id="numDoc"
              placeholder="Numero"
              type="number"
              required
            />
            <label for="password">Clave</label>
            <input
              formControlName="password"
              type="password"
              placeholder="Contraseña"
              required
            />
            <button class="buttonSubmit" type="submit">
              <!-- [routerLink]="logged ? '/home' : null" -->
              Ingresar
            </button>
          </form>
          <div class="container_secondary">
            <div class="container_keyboard">
              <img src="../../assets/login/Vector.svg" alt="" />
              <p>Teclado virtual</p>
            </div>
            <div class="container_answer">
              <p>¿No tienes cuenta? Regístrate aquí</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
